/* ====================================================
Recreating the email field from https://webflow.com/cms. Just an experiment - not as cross-browser friendly as the original.
Changed:
- animated gradient bar to :after element
- flexbox for layout
==================================================== */
:root {
    --palette-vk-font: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, 'Noto Sans Armenian', 'Noto Sans Bengali', 'Noto Sans Cherokee', 'Noto Sans Devanagari', 'Noto Sans Ethiopic', 'Noto Sans Georgian', 'Noto Sans Hebrew', 'Noto Sans Kannada', 'Noto Sans Khmer', 'Noto Sans Lao', 'Noto Sans Osmanya', 'Noto Sans Tamil', 'Noto Sans Telugu', 'Noto Sans Thai', sans-serif;
    --vkui--size_border_radius--regular: 8px !important;
    --vkui--size_border_radius_paper--regular: 12px !important;
    --vkui--size_check_border_radius--regular: 4px !important;
    --vkui--size_button_large_height--regular: 44px !important;
    --vkui--size_button_large_height--compact: 36px !important;
    --vkui--size_button_medium_height--regular: 36px !important;
    --vkui--size_button_medium_height--compact: 32px !important;
    --vkui--size_button_small_height--regular: 30px !important;
    --vkui--size_button_small_height--compact: 28px !important;
    --thin-border: 1px;
    --wide-column-width: 550px;
    --narrow-column-width: 230px;
    --boxes-box-shadow: 0 2px 10px #00000066;
    --online-badge-background: #222222;
    --page-block-shadow: 0 1px 0 0 #424242, 0 0 0 1px #292929;
    --page-block-offset: 15px;
    --page-block-header-height: 54px;
    --page-block-header-button-margin-top: 14px;
    --page-block-header-font-size: 16px;
    --h2-font-size: 16px
}

body {
    background-image: radial-gradient(circle at 50% 50%, #141414, #141416 70%, #181818) !important;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
    direction: ltr;
    font-size: 13px !important;
    font-family: var(--palette-vk-font,-apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",arial,Tahoma,verdana,sans-serif) !important;
    line-height: 1.154 !important;
    font-weight: 400 !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-osx-font-smoothing: auto !important;
}

.VkIdForm__input {
    box-sizing: border-box !important;
    width: 100% !important;
    height: 36px !important;
    padding: 8px 12px !important;
    line-height: 20px !important;
    font-size: 13px !important;
    border-radius: 8px !important;
    border: 1px solid #ffffff29 !important;
    text-overflow: ellipsis !important;
    background-color: #333333 !important;
    color: #d3cccc !important;
}

.VkIdForm__input:focus {
    border-color: #adb0b4 !important;
    outline: none;
}

.VkIdForm__input_text {
    box-sizing: border-box !important;
    width: 100% !important;
    height: auto !important;
    padding: 8px 12px !important;
    line-height: 20px !important;
    font-size: 13px !important;
    border-radius: 8px !important;
    border: 1px solid #ffffff29 !important;
    text-overflow: ellipsis !important;
    background-color: #333333 !important;
    color: #d3cccc !important;
    resize: vertical !important;
}

.VkIdForm__input_text:focus {
    border-color: #adb0b4 !important;
    outline: none;
}

.VkIdLogin .page_block {
    width: 320px !important;
    margin: 0 auto !important;
    padding: 32px 24px !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-radius: 8px  !important;
}

.VkIdLogin .VkIdSignIn {
    margin-top: 50px  !important;
    margin-bottom: 0  !important;
}

.page_block {
    position: relative !important;
    background: #222222 !important;
    border-radius: 12px !important;
    -webkit-box-shadow: 0 1px 0 0 #424242, 0 0 0 1px #292929 !important;
    box-shadow: 0 1px 0 0 #424242, 0 0 0 1px #292929 !important;
    margin: 15px 0 0 !important;
}

.page_block {
    margin-top: calc(15px + 5px);
}

.container-input {
    width: 400px;
    max-width: 400px;
    margin: 0 auto;
}

/*Иконки*/
.VkIdForm__icon {
    color: #ffffff;
    text-align: center;
    height: 48px;
}

/*Заголовки*/
.VkIdForm__header {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 20px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

h2 {
    font-size: 16px;
    color: #e1e3e6;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: 20px 0 15px;
}

/*Кнопки*/
.VkIdForm__signInButton {
    background: #ffffff !important;
}

.VkIdForm__button {
    border-radius: 8px !important;
    margin-top: 20px !important;
}

.FlatButton--wide {
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.FlatButton--size-l {
    font-size: 14px !important;
    height: 36px !important;
    padding: 0 16px !important;
}

.FlatButton--primary {
    color: #222222;
    background-color: #e1e3e6;
}

.FlatButton {
    --icon-weight-margin: -4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    margin: 0;
    padding: 0;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 13px;
    font-family: inherit;
    border-radius: 8px;
}

.FlatButton__in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: inherit;
}

.FlatButton__content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
}

.VkIdLogin .VkIdSignUp {
    margin-top: 16px !important;
    padding: 24px !important;
}

.FlatButton--positive {
    color: #ffffff;
    background-color: #4bb34b;
}

.VkIdForm__signUpButton {
    margin-top: 0 !important;
}

.JoinForm__connectAgreement {
    text-align: center;
    color: #656565;
    line-height: 18px !important;
    margin-top: 12px !important;
}

/*Элементы ввода*/
.form-control {
    border: 1px solid #424242 !important;
    background-color: #333333 !important;
    color: #d3cccc !important;
}

.form-control:focus {
    border-color: #96969b !important;
    outline: none !important;
    box-shadow: none !important;
}

.form-control::placeholder {
    color: #929692 !important;
}

.input-group:focus {
    outline: none !important;
}

.input-group-text {
    border: 1px solid #424242 !important;
    background-color: #333333 !important;
}

/*Информационная табличка*/
.VkIdLogin .msg {
    padding: 16px ;
    margin: 24px 0 12px 0;
    background-image: none ;
}

.VkIdLogin .msg,
.VkIdLogin .error {
    margin: 24px 0 16px 0;
    border-radius: 8px;
}

.msg_text {
    display: inline-block;
    vertical-align: middle;
    line-height: 150%;
}

.info_msg {
    background: #333333 no-repeat 12px 12px;
    padding-left: 55px;
    border-color: #424242 !important;
}

.msg, .box_msg, .box_msg_gray {
    background-color: #333333;
    -webkit-transition: background-color 2s linear;
    transition: background-color 2s linear;
}
.error, .info_msg, .ok_msg {
    min-height: 40px;
    line-height: 38px;
}
.msg, .error, .info_msg, .box_msg, .box_msg_gray, .box_error, .ok_msg {
    padding: 7px 18px 9px;
    margin: 15px 20px;
    border: 1px solid #424242;
    border-radius: 2px;
    line-height: 150%;
}

#navbar_top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.pinned-top {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9998;
}

.pinned-bottom {
    bottom: 0;
    z-index: 9998;
}

.carousel-image {
    width: auto;
    height: 350px;

    min-height: 250px;
    object-fit: contain; /* Опционально: для сохранения пропорций и обрезки изображения */
}

#messages-container .message {
    white-space: pre-line;
    border-radius: 10px;
    max-width: 60%;
    padding: 100px 15px;
    margin-bottom: 10px;
    background-color: #0B0B0B00;
}

#messages-container .message.ms-auto {
    margin-left: auto;
    background-color: #D5D5D5;
}

/*Рекаптча*/
.g-recaptcha {
    transform: scale(0.9);
    transform-origin: 0 0;
}

/*Поиск*/




